*{
    font-family: 'Overpass', sans-serif;
}

header{
    font-family: "Dela Gothic One", sans-serif !important;
}

.page-header {
    line-height: 150px;
}


.buttons{
    height: 600px;
    font-family: "Dela Gothic One", sans-serif !important;

}

.landing-button:hover {
    transition-duration: 0.1s;
    background-color: rgb(36, 35, 35);
  }
  
